* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Krub", sans-serif;
    font-size: 26px;
}
:root {
    --blanco: #ffffff;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --oscuro: #212121;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    font-size: 62.5%;
}
.cabezera {
    font-size: 3.8rem;
    text-align: center;
}
.navbar {
    background: var(--secundario);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    color: var(--blanco);
    padding: 1rem 0;
}
.navbar a:hover {
    background: var(--primario);
    transition: linear 0.2s;
}
.header {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../Assets/hero.jpg");
}
.header_fondo {
    background-color: #000000c7;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.header_fondo h1,
p {
    color: var(--blanco);
}
.header_fondo a {
    text-decoration: none;
    background-color: var(--secundario);
    color: var(--blanco);
    border-radius: 1rem;
    padding: 1rem;
}
.header_fondo a:hover {
    background: var(--primario);
    transition: 0.2s;
}
.servicios {
    margin: 3rem auto;
    padding: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63);
    border-radius: 10px;
}
.servicios_titulo {
    text-align: center;
    padding: 4rem;
}
.servicios_titulo h2 {
    font-size: 4rem;
}
.servicios_content_card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.servicios_card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card_info h3 {
    font-size: 2rem;
    color: var(--secundario);
    font-size: 2.8rem;
    font-weight: 400;
}
.card_info p {
    font-size: 1.5rem;
    color: var(--oscuro);
    font-weight: 400;
}
.card_icono {
    background-color: var(--primario);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 2rem 0;
}
.servicios_contactos {
    background-color: var(--gris);
    border-radius: 1rem;
}
.content_formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "legend legend" "personal personal" "info info" "txt txt" "btn btn";
    grid-gap: 2rem;
}
.form_titulo {
    grid-area: legend;
    text-align: center;
    margin: 0 2rem 0 2rem;
}
.form_personal {
    grid-area: personal;
    margin: 0 2rem 0 2rem;
}
.form_info {
    grid-area: info;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0 2rem 0 2rem;
}
.form_info input {
    width: 80%;
}
.form_txt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: txt;
    margin: 0 2rem 0 2rem;
}
.form_txt textarea {
    width: 100%;
}
.form_boton {
    grid-area: btn;
}

.footer {
    text-align: center;
    background-color: var(--secundario);
}
.footer p {
    font-size: 1.5rem;
    padding: 4rem;
}

@media (max-width: 400px) {
    .servicios_content_card {
        flex-wrap: wrap;
    }
    .navbar {
        display: flex;
        flex-direction: column;
    }
}
