* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: sans-serif;
}
:root {
      --text_primary: #3db447;
      --text_secundary: #ffffff;
      --color-primary: #fef9d7;
      --color: #e8e2b2;
      --color-secondary: #627f1b;
      --color-footer: #2c384c;
}

.navbar {
      width: 100%;
      height: 80px;
      padding: 0 10px 0 10px;
      background-color: var(--color-primary);
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0px;
      left: 0px;
}
.logo {
      font-size: 20px;
      color: var(--text_primary);
}
.ico {
      display: none;
}
.list {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      row-gap: 20px;
      height: 100%;
}
.item {
      height: 100%;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
}
.item a {
      text-decoration: none;
      color: gray;
      font-weight: bold;
}
.item:hover {
      background-color: #a59d11;
      transition: ease-in-out 0.5s;
}
.item a:hover {
      color: var(--text_secundary);
}
.header {
      min-height: 600px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.slideshow-container {
      max-width: 100%;
      height: 100%;
      position: absolute;
      margin: auto;
      overflow: hidden;
}
.mySlides img {
      border-image-slice: 100%;
}
.slide_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: #000000a8;
      width: 100%;
      height: 100%;
      margin: 40px 0;
      text-align: center;
}
.slide_text h2 {
      font-size: 60px;
      color: var(--text_primary);
      backdrop-filter: blur(50px);
}
.slide_text h4 {
      color: var(--text_secundary);
      backdrop-filter: blur(50px);
}
.separator {
      width: 60%;
      border: 1px solid #c89c4b;
      background-color: #ceba63;
      height: 2px;
}
.slide_text_btn {
      text-decoration: none;
      background-color: #3db447;
      color: var(--text_secundary);
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
}
.slide_text_btn:hover {
      background-color: #2e8936;
      color: var(--text_secundary);
      transition: 0.5s;
}
.dots {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      bottom: 10px;
}
.dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: block;
      transition: background-color 0.6s ease;
}
.active {
      background-color: #717171;
}

#Nosotros {
      min-height: 600px;
      background-color: var(--color);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
}
.nosotros_title {
      margin: 80px 0;
}
.nosotros_title h2 {
      font-size: 30 px;
      font-weight: bold;
      color: #c89c4b;
      text-align: center;
}
.nosotros_title p {
      font-size: 18px;
      font-weight: bold;
      color: var(--text_primary);
      text-align: center;
      margin: 0 40px;
}

.nosotros_Servicios {
      width: 90%;
      min-height: 500px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      background-color: var(--color-secondary);
      border-radius: 20px;
}
.shadow {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
}

.Nosotros_Servicios_card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 200px;
      border-radius: 20px;
      height: 400px;
      cursor: pointer;
      transition: 0.2s;
      margin: 10px 0;
}
.Nosotros_Servicios_card:hover {
      transform: scale(1.2);
}
.servicios_card_title h2 {
      color: #c89c4b;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
}
.servicios_card_image img {
      width: 150px;
      height: 120px;
}
.servicios_card_text p {
      color: var(--text_secundary);
      font-size: 15px;
      text-align: center;
}
#Servicios {
      height: 500px;
      background-color: rgb(211, 211, 92);
}
.content_categoria {
      display: flex;
      flex-direction: column;
}
.categoria_title {
      background-color: var(--color-secondary);
      text-align: center;
      color: var(--text_secundary);
      padding: 20px 0;
}
.content_productos {
      width: 100%;
      background-color: var(--color);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 300px;
      gap: 10px;
      padding: 40px 10px;
}
.productos > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
}
.productos {
      height: 100%;
      width: 100%;
      cursor: pointer;
      overflow: hidden;
      background-color: #0a1127;
      transition: 0.5s;
      border-radius: 10px;
}
.productos:hover {
      transform: scale(1.05);
}

#Contactos {
      min-height: 500px;
      background-image: url("./Assets/Footer.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
}
.contactos {
      min-height: 500px;
      background-color: #2d384cf2;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
}
.card_footer {
      border-radius: 20px;
      border: 2px solid black;
      width: 300px;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      transition: 0.5s;
}
.card_footer:hover {
      transform: scale(1.1);
      background-color: #42444a;
}
.card_footer_title {
      color: var(--text_primary);
      text-align: center;
}
.card_footer_logo img {
      width: 100px;
      height: 100px;
      color: white;
}
.btn_footer {
      background-color: black;
      color: var(--text_primary);
      padding: 16px 40px;
      border-radius: 20px;
      text-decoration: none;
}
.footer {
      width: 100%;
      height: 80px;
      padding: 0 10px 0 10px;
      background-color: var(--color-primary);
      display: flex;
      justify-content: center;
      align-items: center;
}
.footer img {
      height: 50px;
}

@media (max-width: 790px) {
      .navbar {
            background-color: var(--color-primary);
            position: fixed;
            right: 0;
            top: 0;
      }
      .ico {
            display: block;
            color: var(--text_primary);
            cursor: pointer;
            font-size: 20px;
      }
      .list {
            z-index: 10;
            background-color: var(--color-primary);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 80px;
            left: 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            clip-path: circle(71.5% at 50% 51%);
            transition: 5s clip-path ease-in;
            gap: 0;
      }
      .show {
            clip-path: circle(0% at 50% 50%);
            display: none;
      }
      .item {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
      }
      .item a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: gray;
            font-weight: bold;
            text-align: center;
      }
      .Nosotros_Servicios_card:hover {
            transform: none;
      }
      .content_productos {
            width: 100%;
            background-color: var(--color);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 300px 300px;
            gap: 5px;
            padding: 40px 10px;
      }
      .header {
            min-height: 500px;
      }
}
@media (max-width: 480px) {
      .content_productos {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 300px);
      }
      .header {
            min-height: 250px;
      }
      .slide_text {
            margin: 0;
      }
      .slide_text h2 {
            font-size: 20px;
      }
      .slide_text h4 {
            font-size: 14px;
      }
}
